{
  "prioritizedcontentfiles": [
    "Content/Parsers/UnifiedSignInLogs/UnifiedSignInLogs.yaml"
  ],
  "excludecontentfiles": [
    "Content/PromptBooks"
    "Content/Parsers/Security",
    "Content/Playbooks/Template",
    "Content/Watchlists/confirmedLeavers",
    "Content/Watchlists/EntraRiskyUsers",
    "Content/Watchlists/HighRiskApps",
    "Content/Watchlists/knownDCAccounts",
    "Content/Watchlists/SuspiciousUsers",
    "Content/Watchlists/TorExitNodes",
    "Content/Workbooks/Perimeter81",
    "Content/Workbooks/PfSense",
    "Content/Workbooks/Safeguard",
    "Content/Workbooks/SentinelDataLake",
    "Content/Workbooks/UnifiNetworkOverview",
    "Content/Workbooks/UnifiSiteManager"
  ],
  "parameterfilemappings": {}
}
