{
  "prioritizedcontentfiles": [
    "Parsers/UnifiedSignInLogs/UnifiedSignInLogs.yaml"
  ],
  "excludecontentfiles": [
    "Parsers/Security",
    "Playbooks/Template",
    "Watchlists/confirmedLeavers",
    "Watchlists/EntraRiskyUsers",
    "Watchlists/HighRiskApps",
    "Watchlists/knownDCAccounts",
    "Watchlists/SuspiciousUsers",
    "Watchlists/TorExitNodes",
    "Workbooks/Perimeter81",
    "Workbooks/PfSense",
    "Workbooks/Safeguard",
    "Workbooks/SentinelDataLake",
    "Workbooks/UnifiNetworkOverview",
    "Workbooks/UnifiSiteManager"
  ],
  "parameterfilemappings": {}
}
